<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="<!-- DESCRIPTION -->" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="./static/css/hljs.css" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
    />
    <meta http-equiv="content-language" content="en" />
    <meta name="author" content="Anubhab Patnaik" />

    <title><!-- TITLE --></title>
  </head>

  <body class="markdown-body">
    <div class="f6">
      <header id="header" class="center mt6 mb4">
        <nav>
          <div class="mb2 dib">
            <a href="/" title="home" class="index">
              <img
                src="./static/img/android-chrome-192x192.png"
                alt="logo"
                class="mr1 index-logo"
              />
            </a>
            <a
              href="/current.html"
              title=" What's up?
            "
              class="gray link"
              >/current</a
            >

            <a
              href="/blog.html"
              title=" Some weird shit that I have written"
              class="gray link"
              >/blog</a
            >

            <a
              href="/about.html"
              title=" More
            "
              class="gray link"
              >/about</a
            >
          </div>
          <div>
            <a href="/blog/feed.xml" title="anubhab" class="rss gray link"
              >/rss</a
            >
          </div>
        </nav>
      </header>
      <section id="main" class="page-post gray mb6 lh-copy">
        <main>
          <div class="content custom">
            <!-- CONTENT -->
          </div>
        </main>
      </section>
    </div>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
